.App {
  text-align: center;
  background-color: #282c34;
}
.Errorpage{
  color: white;
}
.ERROR{
  color: white;
  padding:10px;
  font-size: 15px;
}
/*Navbar*/
.Navigation{
  background-color: #fdb927;
  text-align: center;
  margin-bottom: 2em;
}
.NavTxt{
    margin-top: 1em;
    font-weight: bold;
}
.NavTxt:hover{
  color: white;
  cursor: pointer;
}
.Main-nav .fas{
  color: white;
  font-size: 10em;
}
.Main-nav i:hover{
  color: #6c8ebf;
  cursor: pointer;
}
.mainTxt{
    font-weight: bold;
    color: white;
}

/*home*/
.HomeIcon{
  margin-top: 15%;
}

.fa-chevron-left{
  margin-right: 10px;
  color: black;
}
/*Login*/
.loginPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.LoginTxt{
  font-size: 14px;
}
.LoginTxt strong{
  color: #fdb927;
}
.LoginTxt strong:hover{
  color: #6c8ebf;
  cursor: pointer;
}

/* signup*/
.SignupForm{
  max-width: 99% !important;
  margin-top: 1%;
  margin-left: 0.5% !important;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}
.SignPicinp{
  width:120% !important;
}
.Signup input{
  width: 100%;
}
.signuser{
  margin-left:45px !important;
}
.SignPic{
  margin-left: 40%;
}

/* Profile */
.Profile p{
  color: White;
}
.Profile input{
  width: 100%;
}
.ProfilePic{
  height: 150px;
  width: 200px !important;
  padding-left: 20% !important;
}
.ProfileUser{
  margin-left:45px !important;
}
/* user*/
.Users{
  color: White;
}
.userlist:hover{
  background: #6c8ebf;
  color: #282c34;
  cursor: pointer;
}

/* Explore*/
.Explore{
  color: White;
}
.Explore .Comment{
  margin-left: 15%;
}
.PostContainer{
  border: solid;
}
.Explore input{
  width: 100%;
}
.postInp{
  height: 80px;
}
.postBtn{
  background: white;
  color: black;
  height: 100%;
  width: 100%;
}
.postBtn:hover{
  background: #6c8ebf;
  cursor: pointer;
}

/*Message*/
.Message p{
  color: white;
}
.Message h1{
  color: white;
}
.userlist{
  border:solid;
  border-color:white;
}
.Chatinput{
  width:100%;
}
.Red{
  color: Red !important;
}
.White{
  color: White !important;
}