.App {
  text-align: center;
  background-color: #282c34;
}
/*Navbar*/
.Navigation{
  background-color: #fdb927;
  text-align: center;
}
.NavTxt{
    margin-top: 1em;
    font-weight: bold;
}
.NavTxt:hover{
  color: white;
  cursor: pointer;
}
.Main-nav .fas{
  color: white;
  font-size: 10em;
}
.Main-nav i:hover{
  color: #6c8ebf;
  cursor: pointer;
}
.mainTxt{
    font-weight: bold;
    color: white;
}

/*home*/
.HomeIcon{
  margin-top: 15%;
}

.fa-chevron-left{
  margin-right: 10px;
  color: black;
}
/*Login*/
.loginPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.LoginTxt{
  font-size: 14px;
}
.LoginTxt strong{
  color: #fdb927;
}
.LoginTxt strong:hover{
  color: #6c8ebf;
  cursor: pointer;
}

/* signup*/
.Signup p{
  color: White;
}
.Signup input{
  width: 100%;
}
.fa-plus-circle{
  font-size: 2em;
  padding-left: 150px;
  color: white;
}
.fa-minus-circle{
  font-size: 2em;
  padding-left: 20px;
  color: white;
}

/* user*/
.Users{
  color: White;
}